<aside class="column is-2 is-hidden-mobile has-background-white full-height backdrop">
    <div class="menu">
        <p class="menu-label has-text-black">Sidebar</p>
        <ul class="menu-list">
            <li>
                <a href="#" class="is-flex is-align-items-center has-text-grey">
                    <span class="icon is-small has-text-primary"><i class="fas fa-cube mr-3"></i></span>
                    <span>Sample Module Number One</span>
                </a>
            </li>
            <li>
                <a href="#" class="is-flex is-align-items-center has-text-grey">
                    <span class="icon is-small has-text-primary"><i class="fas fa-cube mr-3"></i></span>
                    <span>Sample Module Number Two</span>
                </a>
            </li>
            <li>
                <a href="#" class="is-flex is-align-items-center has-text-grey">
                    <span class="icon is-small has-text-primary"><i class="fas fa-cube mr-3"></i></span>
                    <span>Sample Module Number Three</span>
                </a>
            </li>
        </ul>
    </div>
</aside>